
/*#ed5c27  #ecc874  #feb041*/
body {
    margin: 0;
    color: #343539;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
span {
    display: inline-block;
}
a {
    text-decoration: none;
    color: inherit;
}

.h_d {
    width: 100%;
    height: 60px;
}
.header {
    width: 100%;
    height: 60px;
    background-color: #feb041;
    box-shadow: 0px 1px 20px 0px #feb041;  /* #1f273a 에서 투명도 준게 #1f273a68 */
    color: #fff;
    text-align: center;

    margin-bottom: 140px;

    position: fixed;
    top: 0;
    z-index: 999;
}
.logo {
    height: 100%;
    font-size: 30px;
    line-height: 60px;
    font-weight: 900;
}
.logo a {
    display: inline-block;
    padding: 0 20px;
}