.wrap {
    width: 100%;
    max-width: 1920px;
}
.header {
    margin-bottom: 60px;
}
.content {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #f3f3f3;
    border-radius: 30px;
    padding: 50px 40px;
}
.title_box {
    margin: 0;
    padding: 0;
    color: #2f2f2f;
}
.center_box {
    width: 100%;
}
.c_text_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.c_box {
    font-size: 17px;
    font-weight: 800;
}
.c_box > span {
    font-size: 17px;
    color: #4b4b4b;
}
.c_name_box {justify-content: center;}
.c_age_box,
.c_name_box,
.c_gender_box {
    display: flex;
    gap: 30px;
    align-items: center;
}
.c_name_box {
    width: 100%;
    margin-top: 50px;
}
.bsa_box,
.bmi_box,
.c_age_box,
.c_gender_box,
.c_birth_box,
.c_month_box,
.c_body_box {
    width: calc(100% /2);
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.bsa_box > span,
.bmi_box > span,
.c_age_box > span,
.c_gender_box > span,
.c_birth_box > span,
.c_month_box > span,
.c_name_box > span,
.c_body_box > span,
.c_gender_box > span {
    font-size: 15px ;
    font-weight: 700;
    color: rgb(44, 44, 44);
}
.radio_box {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.gender {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.r_gen_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    accent-color: rgb(106, 106, 106);
}
.active {
    background-color: #414a56;
}

.name_box {
    width: 170px;
    height: 40px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 8px 0 10px 0;
}
.c_name_box  input {
    width: 120px;
    outline: none;
    padding: 0 20px 8px 6px;
    border: none;
    background-color: transparent;
}

.bu_box {
    width: 100%;
    margin-top: 50px;
}
.to_inspect {
    width: 240px;
    height: 45px;
    border: none;
    border-radius: 30px;
    background-color: #707882;

    color: #f3f3f3;
    font-size: 15px;
    font-weight: 800;
}
.rg_span {
    margin-top: 10px;
}
input[name="rg_c"]:checked ~ label > div {
    background-color: #414a56;
}
.radio_box input {
    display: none;
}
.age_box > input {
    width: 140px;
    height: 30px;
    padding: 5px 20px 5px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.c_body_box,
.c_birth_box {
    display: flex;
    flex-wrap: wrap;
}
.c_body_box {gap: 15px;}
.c_birth_box {
    gap: 10px;
}
.bmi > span,
.bsa > span,
.c_body_box > span,
.c_birth_box > span {
    width: 100%;
    display: inline-block;
}
.height_box,
.weight_box,
.year_box,
.month_box,
.date_box {
    display: flex;
    align-items: center;
    gap: 7px;
}
.height_box > input,
.weight_box > input,
.year_box > input,
.month_box > input,
.date_box > input {
    width: 70px;
    height: 24px;
    padding: 5px 20px 5px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.bmi,
.bsa {
    width: 100px;
    height: 30px;
    background-color: #8f9aa7;
    color: white;
    border-radius: 5px;
    line-height: 30px;
}
.bsa_box,
.bmi_box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bmi_in,
.bsa_in {
    width: 100px;
}

@media (max-width: 1560px) {
    .c_gender_box,
    .c_name_box {
        gap: 40px;
    }
}

@media (max-width: 1440px) {
    .c_gender_box,
    .c_name_box {
        gap: 20px;
    }
}
@media (max-width: 1380px) {
    .c_text_box {
        flex-direction: row !important;
        gap: 0 !important;
    }
    
    .bsa_box, .bmi_box, .c_age_box, .c_gender_box, .c_birth_box, .c_month_box, .c_body_box {
        justify-content: center;
        width: 50%;
        margin-top: 30px;
    }
    .content {margin-bottom: 50px;}
    .c_text_box {height: 510px;}
    .content {width: 80%;}
    .c_birth_box > span, .c_body_box > span {width: auto;}
}
@media (max-width: 1320px) {
    .c_hidden_box {
        display: none;
    }
    .center_box {
        display: inline-block;
        width: 100%;
    }
    .c_text_box {
        width: 100%;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        gap: 40px;
        align-content: center;
        flex-wrap: wrap;
        padding: 50px 0;
    }
    .c_name_box, .c_gender_box {margin: 0}
    .c_body_box, .c_birth_box {flex-direction: column;}
}

@media (max-width: 1000px) {
    .c_box,
    .title_box {
        font-size: 14px;
    }
}

@media (max-width: 880px) {
    .c_box > span,
    .title_box {
        font-size: 13px;
    }
    .c_text_box {
        font-size: 13px;
        gap: 20px;
    }
    .name_box {
        padding: 11px 0 10px 0;
    }
}

@media (max-width: 667px) {
    .content {
        width: 90%;
    }
    .c_age_box, .c_name_box, .c_gender_box {
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .content {
        width: 70%;
    }
    .c_box > span,
    .title_box {
        font-size: 12px;
    }
    .to_inspect {
        width: 220px;
    }
    .header {
        margin-bottom: 80px;
    }
    .c_text_box {align-content: space-around; height: 780px; gap: 10px !important;}
    .bsa_box, .bmi_box, .c_age_box, .c_gender_box, .c_birth_box, .c_month_box, .c_body_box {width: 100%;}
    .c_name_box input {width: 110px;}
    .name_box {width: 150px;}
    .age_box > input {width: 120px;}
    .bmi_in, .bsa_in {width: 50px;}
}