.wrap {
    max-width: 1920px;
    width: 100%;
}
.header {
    margin-bottom: 40px;
}
.content {
    width: 60%;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 30px 20px 50px 20px;
    border-radius: 30px;
}
.top_box {
    width: 100%;
    display: flex;
    justify-content: center;
}
.result_text_box {
    width: auto;
    margin: 0 20px ;
    text-align: center;
    padding: 0 50px 50px 50px;
    box-sizing: border-box;
}
.table_box {
    width: 75%;
    border-radius: 20px;

    display: flex;
    gap: 20px;
}
.chart {
    width: 100%;
    border-radius: 20px;
    display: inline-block;
    background-color: white;
}

.inspection {
    width: 100%;
    height: 60px;
    display: flex;
    text-align: center;
    line-height: 60px;
    border-bottom: 1px solid #d0d0d0;
}
.normal {
    border-right: 1px solid #d0d0d0;
}
.dis_name {
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #d0d0d0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 36px;
    font-size: 17px;
    font-weight: 800;
    padding-top: 10px;
}
.ins,
.nam {
    width: calc(100% / 2);
}
.my_inspection_da,
.my_inspection_ch {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #d0d0d0;
}
.pc_my_r,
.p_my_r,
.pc_my_result,
.p_my_result {
    height: 80px;
    text-align: center;
    line-height: 80px;
}
.pc_my_r,
.p_my_r {
    border-top: 1px solid #d0d0d0;
}
.my_result {
    width: 100%;
    height: 90px;
    text-align: center;
    line-height: 90px;
}

.r_t_result_box {
    width: 100%;
    margin-top: 50px;
}
.rt_fixed {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}
#rt_name {
    font-weight: 800;
    font-size: 18px;
}
.rt_r_name {
    display: flex;
    align-items: center;
    gap: 6px;
}
.rt_result_text {
    font-weight: 800;
    border-bottom: 3px solid #b9b9b9;
    padding: 0 25px 6px 25px;

    display: flex;
    flex-direction: column;
    position: relative;
}
.div {
    width: 1px;
    height: 93px;
    background-color: #646464;
    position: absolute;
    left: 83px;
}
.rt_dis_box {
    display: flex;
}
.rt_dis_ins_p,
.rt_dis_name:nth-of-type(1) {
    padding-right: 20px;
}
.rt_dis_name {font-size: 16px; padding-bottom: 15px; border-bottom: 1px solid;}
.rt_dis_ins_p,.rt_dis_ins_pc {font-size: 24px; padding-top: 15px;}
.dangerous_text {
    color: rgb(255, 71, 71);
}
.rt_big_quitation_mark {
    font-size: 21px;
    font-weight: 800;
}
.r_t_text {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}


.bottom_box {
    width: auto;
    margin-top: 60px;
    padding-left:60px;
    box-sizing: border-box;
    text-align: center;
}
.bottom_box div {
    font-size: 19px;
    font-weight: 800;
    margin-bottom: 20px;
}
.nothing,
.up,
.center,
.down {
    font-size: 27px;
    font-weight: 500;
    margin-left: 10px;
}
.font_active {
    font-size: 37px;
    font-weight: 800;
}

.bar_box {
    width: 100%;
    margin-top: 30px;
}
.bar_little_box {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.bar_little_box:nth-of-type(1) {
    margin-top: 30px;
}
.bar_little_box:nth-of-type(2) {
    margin-top: 50px;
}
.bar_name_t {display: flex; gap: 10px; align-items: center;}
.b_num {font-weight: 800; font-size: 18px;}
.bar {
    width: 50%;
    height: 40px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;

    position: relative;
}
.bar_stick_box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 6px;
}
.bar_stick {
    width: 25%;
    height: 70%;
    text-align: center;
    font-size: 16px;
    color: rgb(48, 48, 48);
    line-height: 27px;
    font-weight: 800;
}
.bar_line_per2,
.bar_line_per1 {
    width: 40px;
    height: 40px;
    background-color: rgb(211, 211, 211);
    border-radius: 50%;
    font-size: 14px;
    font-weight: 800;
    color: #646464;
    line-height: 38px;

    position: absolute;
    top: -40px;
    left: 0%;
}
.green {background-color: rgb(27, 182, 27);}
.orange {background-color: orange;}
.yellow {background-color: rgb(255, 255, 68);}
.red {background-color: rgb(255, 48, 48);}
.bar_line2,
.bar_line1 {
    width: 2px;
    height: 100%;
    background-color: rgb(63, 63, 63);
    border: 2px solid rgb(242, 242, 242);

    position: absolute;
    top: 0;
    left: 0%;
}

.box2 {
    display: flex;
    align-items: flex-end;
}


@media (max-width: 1800px) {
    .chart {font-size: 14px;}
}

@media (max-width: 1620px) {
    .rt_fixed {font-size: 18px;}
    .rt_result_text {font-size: 20px;}
    .r_t_text  {font-size: 24px;}
    .result_text_box {
        padding-bottom: 50px;
    }
}
@media (max-width: 1430px) {
    .content {width: 80%;}
    .result_text_box {
        padding: 0 0 50px 70px ;
    }
    .bottom_box {
        padding-left: 70px;
    }
}
@media (max-width: 1380px) {
    .result_text_box {
        padding: 0 0 50px 50px ;
    }
}
@media (max-width: 1260px) {
    .result_text_box {
        padding: 0 0 50px 30px ;
    }
}
@media (max-width: 1140px) {
    .result_text_box {
        padding: 0 0 50px 0 ;
    }
    .bottom_box {
        padding-left: 50px;
    }
}
@media (max-width: 1070px) {
    .chart {font-size: 13px;}
    .rt_fixed {font-size: 16px;}
    .rt_result_text {font-size: 18px;}
    .result_text_box {padding-bottom:50px;}
    .r_t_text {font-size: 22px;}
    .inspection {height: 50px; line-height: 50px;}
    .dis_name {height: 30px; line-height: 26px; font-size: 14px;}
    .my_inspection_ch,.my_inspection_da {height: 30px; line-height: 30px;}
    .my_result {height: 60px; line-height: 63px;}
    .persent_2_box, .persent_1_box {font-size: 15px;}
}
@media (max-width: 1002px) {
    .table_box {width: 75%;}
}
@media (max-width: 818px) {
    .top_box {display: inline-block;}
    .table_box {width: 100%;}
    .my_result {height: 80px; line-height: 80px;}
    .my_inspection_ch,.my_inspection_da {height: 50px; line-height: 50px;}
    .dis_name {height: 40px; line-height: 36px;}
    .result_text_box { padding-bottom:40px ;}
    .bottom_box {padding-left: 0;}
    .rt_result_text {
        padding: 0 15px 6px 15px;
    }
    .div {left: 70px; bottom: 5px;}
    .rt_dis_name {font-size: 15px;}
    .rt_dis_ins {font-size: 22px;}
    .b_num {font-size: 16px;}
    .b_name {font-size: 14px;}
    .bar_little_box  {gap: 15px;}
}
@media (max-width: 740px) {
    .result_text_box {padding-bottom: 40px;}
}
@media (max-width: 670px) {
    .bar_little_box  {gap: 5px;}
}
@media (max-width: 630px) {
    .per_2_persent_box, .per_1_persent_box {width: 60%;}
    .b_name {font-size: 13px;}
    .b_num {font-size: 15px;}
    .bar_name_t {gap: 5px;}
    .rt_dis_name {font-size: 14px;}
    .rt_dis_ins {font-size: 20px;}
    .rt_dis_ins_p, .rt_dis_ins_pc {font-size: 22px;}
}
@media (max-width: 577px) {
    .result_text_box {padding-bottom: 40px; margin: 0;}
    .r_t_text {font-size: 20px;}
    .rt_dis_ins_p, .rt_dis_ins_pc {font-size: 20px;}
}
@media(max-width: 535px) {.rt_result_text{padding: 0 10px 6px 10px;} }
@media (max-width: 520px) {
    .header {margin-bottom: 60px;}
    .content {padding: 150px 20px 80px 20px;}
    .rt_fixed {
        flex-direction: column;
        align-items: center;
    }
    .p2_border, .p1_border {height: 25px;}
    .p2_color, .p1_color {height: 25px;}
    .p2_ten, .p1_ten {height: 15px;}
    .table_box {
        display: inline-block;
        margin: 0 auto;
        width: 100%;
    }
    .chart {margin-bottom: 20px;}
    .none {
        display: none;
    }
    .p2_ten, .p1_ten {width: calc(100% / 5);}
    .persent_2_box, .persent_1_box {gap: 10px; font-size: 14px;}
    .result_text_box {position: absolute; top: 100px;}
    .bottom_box {margin-bottom: 30px;}
    .rt_result_text {
        padding: 10px 20px 6px 20px;
    }
    .rt_dis_ins_p, .rt_dis_ins_pc {padding-left: 10px;}
    .div {left: 80px;}
    .rt_dis_ins {font-size: 25px;}
    .rt_dis_name {font-size: 17px;}
    .r_t_text {font-size: 16px;}
    .bar_name_t > .b_num {display: none;}
    .b_name {font-size: 15px;}
    .b_num {display: none;}
    .bar {width:  70%;}
    body {background-color: #f3f3f3;}
 }