#board_list .table {width:100%;border-spacing:0; }
#board_list .table td {color:#999;vertical-align: middle !important}
#board_list .table td a {display: block;text-decoration: none;color:#686868;font-weight: 400;font-size: .85rem;letter-spacing: -0.03em;line-height: 1.6;}
#board_list .table td a:hover {color:#1e87f0;}
#board_list .table thead th {border:0;padding:8px 15px;font-size:14px;font-weight: 300;text-align: center;}
#board_list .table thead th a {color:#111;font-size:14px;font-weight: 300;}
#board_list .table td.notice {color:#1e87f0;font-weight: normal;}
#board_list .table td div {font-size:13px;}
#board_list .table th {width:100px;vertical-align: middle;text-align: center;}
#board_list .table td {text-align: center;font-weight: 400;}
#board_list .table .title {width:auto;text-align: left;}
#board_list .table .notice {background: rgba(250, 250, 250, 0.58)}

#board_list ul.document_list {padding:0;margin:0}
#board_list .document_list li {list-style: none;}
#board_list .document_list li a {display: flex;padding:15px;border-bottom:1px solid #f3f3f3;}
#board_list .document_list li a .thumb {display:flex;justify-content: center;align-items: center;margin-right:10px;}
#board_list .document_list li a .thumb img {border-radius: 50px;}
#board_list .document_list li a .title {display:block;flex:1;font-size:19px;font-weight: 400;color:#333;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#board_list .document_list li a:hover {color:#000;background:#fafafa;}
#board_list .document_list li a .meta {font-size:14px;font-weight: 400;color:#aaa;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;;}
.list_footer {padding-bottom: 4rem;padding-top:1.5rem}
.list_footer {display:flex; justify-content: space-between;align-items: center}

.pagination {display:flex;flex-wrap: wrap;order:0;justify-content: flex-start;align-items: center;background:#fff;border-radius: 20px !important;}
.pagination strong {flex:1;width:34px;height:34px;text-align: center;line-height: 34px;background: #fff;border-radius: 50%;color:#777;border:1px solid #777}
.pagination a {color:#aaa;flex:1;width:34px;height:34px;text-align: center;line-height: 34px;color:#aaa;border-radius: 50%;}
.pagination a:hover {background: #aaa;color:#111;border-radius: 50%;}
/* .pagination .page {background: #111;border-radius: 50%;} */
.pagination .direction.prev,.pagination .direction.next {background:#f3f3f3;color:#aaa;border-radius:34px;}

.read_body .table th,.read_body .table td{text-align: center;font-size:14px !important;width:100px;vertical-align: middle;}
.read_body .table td div {font-size:13px;}
.read_body .nav-tabs .nav-link{line-height: 52px;padding:0 55px !important;}
.read_body .nav-tabs .nav-link.active {font-weight: bold;color:rgb(20,90,40)}
.read_body .back_btn a{padding:10px 35px;height:auto !important;background: #f15f31;color:#fff !important;text-shadow:0px 0px 0px}
#board_list h1 {margin:0;padding:0;}
#board_list .table {padding:0;margin:0;}
.board_header {margin-bottom: 1rem}
.board_header h1 {font-size:1.8rem;font-weight:400;color:#444;}
.read_news {display:flex;width:100%}
/* .read_news .read_content {flex-grow: 1;flex-shrink: 1;overflow: hidden;max-width: 100%;width: 100%;margin:0 auto;} */
/* .read_content {padding-left:58px;}	 */
.read_content img{max-width:100%;height:auto;}
.xe_content p {font-size:16px;}
.xe_content {font-family:'Noto Sans Korean';}
.read_default {font-size:.95rem !important;font-weight:400;max-width:100%;width:100%;margin: 0 auto;}
.read_title {display:none;position:relative;background:#fff;border-top:1px solid #eee;border-bottom:1px solid #ddd;border-left:0;border-right:0;height:60px;}
.read_title a {display:flex;padding:0 5px}
.read_title svg {display:flex;align-items: center;font-size:20px;height:60px;color:#111;}
.read_title .article-title {display:inline-block;flex:1;line-height: 60px;font-size:18px;font-weight: 400;margin:0 15px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.read_title .article-category {line-height: 60px;font-size:14px;color:#aaa;}
.read_default .board_header {padding:2rem 20px 1rem 0;margin-bottom:1rem;}
.read_default .read_header .head_info {position: relative;display: block;overflow: hidden;z-index: 5}
.read_default .read_header .write_info {padding:5px 0;}
.read_default .read_header .write_info img {float:left;width:40px;height: 40px;border-radius: 40px;border:1px solid #f3f3f3;padding:3px;z-index: 5;background:#fff;}
.read_default .read_header .write_info .author {padding:1rem 0 2rem;margin-bottom:2rem;text-align: left;z-index: 5;line-height:1.6;border-bottom:1px solid #f3f3f3;}
.read_default .read_header .write_info .author .author_info {margin-left:10px;font-size:12px;}
.read_default .read_header .write_info .author a {color:#000;font-size:15px;font-weight: 500;}
.read_default .read_header .white_text {color:#fff !important;}
.read_default .read_header .white_text:hover, .read_default .read_header .white_text:focus {color:#f3f3f3 !important;}
.read_default .read_header .write_info .author .write_regdate {color:#999}
.read_default .read_header .write_info .author .write_regdate span {margin-right:5px;}
.read_default .read_header .read_header_title {position: relative;clear: both;margin:2rem 0 0;z-index: 5}
.read_default .read_header .read_header_title h1 {margin:0;clear: both;font-weight:400;font-size:1.85rem}
.read_default .read_header .read_header_title a {clear: both;display: block;}
.read_default .read_header .read_header_title .category {font-size:1rem;color:#999 !important;font-weight: 300;margin-bottom: 6px;}
.read_default .read_header .cmt_location {position: relative;text-align: left;z-index: 5;margin:0 -.75rem;padding:0 .75rem;border-top: 1px solid rgba(250,250,250, .3);display: inline-block;}
.read_default .read_header .cmt_location a {display: block;}
.read_default .read_header .cmt_location a i {margin-right:5px;color:#000}
.read_default .read_header .cmt_location a span {color:#111;border-bottom: 2px solid #fff;height:52px;line-height: 52px;display:inline-block;}
.read_default .read_header .cmt_location a:hover span {border-bottom: 2px solid #111}
.read_default .read_header .cmt_location a:hover span.white_text {border-bottom: 2px solid #ddd !important}
.read_default .xe_content {flex:1;width:100%;padding-bottom:4rem;color:#565656}

.read_default .tns .tags{display:flex;}
.read_default .tns .tags a {border:1px solid #dfdfdf;line-height:26px;margin:0 3px 8px;background:#fff;padding:0px 10px;border-radius: 26px;font-size:14px;color:#676767;}
.read_default .tns .tags a:hover, .read_default .tns .tags a:focus {color:#111;border-color:#111;}

.read_footer {display: flex;justify-content: space-between;max-width: 100%;width:100%;margin:0 auto;border-bottom:1px solid #f3f3f3;padding-bottom:1rem;}
.read_footer .container {max-width:860px !important;}
.read_footer .sign {margin-top:2rem;}
.read_footer .sign img {width:60px;float:left;}
.read_footer .sign .tx {margin-left:80px;}
.read_footer .sign p {margin:0;}
.read_footer .btnArea .btn i {font-size:1.2rem}

.read_footer .sns ul {margin:0;padding:0}
.read_footer .sns ul li {list-style: none;display: inline-block;}
.read_footer .sns ul li a {text-decoration: none;display: block; color:#777;font-size:1.5rem;padding:.5rem}

.fileList .toggleFile {background: transparent;border:0px;color:#787878;cursor: pointer;font-size:14px;height:42px;}
.fileList .downloadFile {display:block;width:100%;background: #111;border:1px solid #111;padding:15px 0 !important;font-size:14px;color:#fff;cursor: pointer;height:auto !important;text-shadow: 0px 0px 0px}
.fileList .downloadFile:hover, .fileList .downloadFile:focus {background: #fff;border:1px solid #111;color:#111;}
.fileList .files li a.btn {display:block;width:100%;background:#f3f3f3;padding:6px !important;height:auto !important;}
.fileList small {font-size:1rem}
.fileList .files{margin:0;padding: 0;}
.fileList .files li {list-style: none;}
.fileList .files li a {text-decoration: none;color:#999;}
.write_footer .btnArea {display:flex;justify-content: space-between}
.list_gallery {display:flex;flex-flow: row;flex-wrap: wrap;padding:15px 0 25px}
.gallery-col {position:relative;display: flex;flex:0 0 33.3333%;padding:5px;height:300px}
.gallery-col .menu-content {margin: 0;padding: 0;list-style-type: none;}
.gallery-col .menu-content::before, .gallery-col .menu-content::after {content: '';display: table;}
.gallery-col .menu-content::after {clear: both;}
.gallery-col .menu-content li {display: inline-block;}
.gallery-col .menu-content a {color: #fff;}
.gallery-col .menu-content span {position: absolute;left: 50%;top: 5px;font-size: 12px;font-weight: 700;-webkit-transform: translate(-50%, 0);transform: translate(-50%, 0);}
.gallery-col .wrapper {background-color: #fff;position: relative;overflow: hidden;z-index: 9;border-radius: 3px;flex:1;box-shadow: 0 1px 2px rgba(0,0,0,0.15);transition: box-shadow 0.3s ease-in-out;}
/* .gallery-col .wrapper:hover {-webkit-box-shadow: 0 9px 8px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.2);box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.2);} */
.gallery-col .wrapper .thumb {-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: scale(1);transform: scale(1);}
.gallery-col .wrapper:hover .thumb {-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: scale(1.15);transform: scale(1.15);}
.gallery-col .wrapper:hover .data {-webkit-transform: translateY(0);transform: translateY(0);}
.gallery-col .data {position: relative;bottom: 0;width: 100%;-webkit-transform: translateY(calc(100% + -85px));transform: translateY(calc(100% + -85px));-webkit-transition: -webkit-transform 0.3s;transition: -webkit-transform 0.3s;transition: transform 0.3s;transition: transform 0.3s, -webkit-transform 0.3s;}
.gallery-col:hover .desc {background: linear-gradient(transparent, rgb(20,90,40));}
.gallery-col .data .desc {padding: 1em 1rem 1rem;position: relative;z-index: 1;}
.gallery-col .category {font-size: 12px;background:rgb(20,90,40);color:#fff;padding:3px 10px;border-radius: 10px;}
.gallery-col .title {display: flex;flex-direction: column;margin: 10px 0;max-width:100%}
.gallery-col .title p {font-size:16px;font-weight:500;margin:0;text-decoration: none;color: #fff;flex:1;display: grid;}
.gallery-col .title p span {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.gallery-col .gallery-meta {color:#fff;font-size:12px;}
.gallery-col .gallery-meta .author {display: flex;color:#fff;align-items: center;font-weight: 500;}
.gallery-col .gallery-meta .author img {border-radius: 45px;border:1px solid #fff;background:#fff;margin-right:9px;}
.gallery-col .text {margin: 20px 0 0 0;color:#fff;font-size:14px}
.gallery-col .wrapper:hover .menu-content span {-webkit-transform: translate(-50%, -10px);transform: translate(-50%, -10px);opacity: 1;}
.gallery-col .header {color: #fff;padding: 15px 15px 0 15px;}
.gallery-col .header::before, .gallery-col .header::after {content: '';display: table;}
.gallery-col .header::after {clear: both;}
.gallery-col .header .date {position: relative;float: left;font-size: 12px;color:#fff;}
.gallery-col .check {position:absolute;left:0;right:0;top:0;z-index: 11;background:rgba(0,0,0, .3)}
.gallery-col .header .date .day svg {font-size:16px;vertical-align: bottom;margin-right:15px;}
.gallery-col .header .date .day span {margin-left:5px;}
.gallery-col .menu-content {float: right;}
.gallery-col .menu-content li {margin: 0 5px;position: relative;}
.gallery-col .menu-content span {-webkit-transition: all 0.3s;transition: all 0.3s;opacity: 0;margin-top:22px;}

.gallery-col .gallery-overlay {position:absolute;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0, .35);}
/* .gallery-col .wrapper:hover .gallery-overlay {background:rgba(0,0,0, .35);-webkit-backdrop-filter: saturate(180%) blur(3px);backdrop-filter: saturate(180%) blur(3px);} */

.cTab {margin:0 0 5px;padding:0;display: flex;flex-wrap:wrap;border-top:1px solid #eee;border-left:1px solid #eee;}
.cTab::-webkit-scrollbar {display: none; width: 0 !important}
.cTab li {list-style: none;flex:0 0 25%;}
.cTab li a {position:relative;display: block;padding:0 22px;text-align:center;line-height: 44px;font-size:16px;font-weight: 350;color:#888;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.cTab li a:hover, .cTab li a:focus, .cTab li.on a {color: rgb(20,90,40)	;background:rgb(222, 230, 227);margin-bottom:-2px;font-weight: 500}
.cTab li a em {font-size:12px;}

.write_header {display:flex;flex-wrap: wrap;}
.write_header .title{flex:1;}
.write_extra ul {display:flex;}
.category {max-width: 200px;width:100%;}
.category select {width:100%;height: calc(1.8em + 1.2rem + 2px);padding: .8rem 1rem;border-radius:.5rem;border:0;appearance: none;-webkit-appearance: none;-moz-appearance: none;border-radius: .25rem;}
.write_header .notice {display: flex;align-items: center;min-width:80px;text-align: center;padding:0 10px; }
.board_write .write_title {display:flex;align-items: center}
.board_write .write_title label {width: 200px;font-weight: 400;white-space: nowrap;line-height: 54px;font-size:16px;padding:0 5px;}
.board_write .write_title input[type=text] {flex:1;border:0;width:100%;margin-left:5px;}
.xe_content.editable p {font-size:19px !important	;}
.exForm {margin-bottom:15px;}
.exForm .table {width:100%;}
.exForm .table caption {text-align: left;font-size:15px;margin:5px 0;}
.exForm .table tr {width:100%;}
.exForm .table th {vertical-align:middle;width:200px;;font-weight: 400;white-space: nowrap;font-size:16px;text-align: center;border-bottom:1px solid #f3f3f3;padding:0 5px;background:#f9f9f9}
.exForm .table td {padding:8px;border-bottom:1px solid #f3f3f3}
.exForm .table td p {font-size:16px;color:#979797;margin:3px 0 5px;}
.exForm .table td input[type=text] {display:inline-block;border-radius: 4px;border:1px solid #e3e3e3;color:#979797;font-size:14px;}
.exForm .table td input[type=text]:focus {border-color:#1e87f0}
.exForm .table td .text,.exForm .table td .tel, .exForm .table td .email_address {width:100%;padding:12px 15px;}
.exForm .table td .tel {width:auto;}
.exForm .table td ul {padding:12px 0;;margin:0;}
.exForm .table td li {display:inline-block;list-style: none;padding:0 12px;font-size:16px;color:#979797}
.exForm .table td input[type=checkbox] {width:20px;height:20px;}

.board_write .write_author .item {display:flex;}
.board_write .write_author label {width: 200px;font-weight: 400;white-space: nowrap;line-height: 54px;font-size:16px;padding:0 5px;}
.board_write .write_author input[type=text], .board_write .write_author input[type=password] {flex:1;padding:12px 15px;border-radius: 4px;margin:8px 0px 8px 8px;border:1px solid #e3e3e3;width:100%;}

.write_footer .write_option {font-size:16px;padding:12px 0;}
.write_footer .write_option label {margin-right:15px;color:#979797}
.write_footer .write_option input[type=checkbox] {width:20px;height:20px;}


#comment {max-width:800px;margin:auto;padding:20px 15px}
#comment .comment-list  {padding:0;margin:0;}
#comment .comment-list li {list-style: none;padding:15px 0}
#comment .comment-list li.indent {padding:5px 0;}
#comment .comment {display:flex;}
#comment .comment .profile {width:55px;}
#comment .comment .profile img {border:1px solid #f3f3f3;border-radius: 45px;}
#comment .comment .comment-body {flex:1;}
#comment .comment-title {font-size:13px;margin-bottom:7px;padding-top:9px;}
#comment .comment-title a {font-weight: 500;margin-right:5px;}
#comment .comment-title span {color:#9f9f9f;}
#comment .comment-content {margin-bottom:5px;}
#comment .comment-list .btnArea {margin:0;}
#comment .comment-list .btnArea a {color:#898989;font-size:12px;margin:5px}
#comment .comment-list .btnArea a:hover, #comment .comment-list .btnArea a:focus {color:#111;}
#comment .indent {margin-left:40px;}
#comment .indent .comment-title {padding-top:0px;}
#comment .indent .profile {width:45px;}
#comment .indent .profile img {width:35px;height:35px;}
#comment .indent .comment-body {background:#eff1f3;border-radius: 18px;padding:8px 10px;}

.table td, .table th {padding:0.75rem;vertical-align: auto;border-top:0px;}
.xe_content.editable {padding:5px;}
.mr-3{margin-right: 1rem !important;}

@media (max-width: 576px) {
    .read_news .read_header {width:100%;padding-right:0;}
	.board_write .write_title label, .exForm .table th {width:100px;}
	.write_header .notice {flex:0 0 50%;display:flex}
	.write_header .notice label{flex:1;text-align: left;}
    .list_footer {flex-direction: column;flex-wrap: no-wrap;}
    .pagination {flex: 1 0 auto;margin:1rem 0 .5rem}
    .list_footer .btnArea {margin:0;width:100%;justify-content: flex-end}
    .read_news {display:flex;flex-direction: column;flex-wrap: no-wrap;}
    .read_header {flex:1;width:100%;flex-flow: row wrap;border:0;border-bottom:1px solid #fefefe;padding-right:0;}
    .read_news .read_header {border:0}
    .read_news .xe_content {flex:1 100%;flex-flow: row wrap;padding-left:0;}
    /* .read_header .write_info {display:flex;}
    .read_header .write_info > div{flex:1;} */
    .read_news .read_header .meta {padding:5px 0}
    .read_header .write_info .meta {display:flex;justify-content: center;align-items: center}
    .read_header .write_info .meta > div {flex:1;}
	.read_header .write_info .tns {display:none;}
    .gallery-col {flex:0 0 100%;}
	.hide-on-small-only {display: none}
	.read_default .read_header .read_header_title {margin:0;}
	.read_content {padding:0;}
	.cTab li a {font-size:16px;}
	#board_list .document_list li a {padding:15px 0;}
	#board_list .document_list li a .title {font-size:16px;}
	.nav-tabs .nav-item {flex:1 !important}
	.read_body .nav-tabs .nav-link {padding:0 15px !important;text-align: center;}
}

@media (min-width: 576px) and (max-width: 992px) {
    .read_news {display:flex;flex-direction: column;flex-wrap: no-wrap;}
    .read_news .read_header {width:100%;padding-right:0;}
    .read_header {flex:1;width:100%;flex-flow: row wrap;border:0;border-bottom:1px solid #fefefe;padding-right:0;}
    .read_news .xe_content {flex:1 100%;flex-flow: row wrap;padding-left:0;}
    .read_news .read_header .write_info .tns {border:0;}
    .read_header .write_info {display:flex;}
    .read_header .write_info > div{flex:1;}
    .read_header .write_info .meta {display:flex;justify-content: center;align-items: center}
    .read_header .write_info .meta > div {flex:1;}
    .read_header .write_info .tns {border-top:0;}
	.gallery-col {flex:0 0 50%;}
	.cTab li a {font-size:16px;}
	#board_list .document_list li a {padding:15px 0;}
	#board_list .document_list li a .title {font-size:16px;}
}
.cke_chrome {
	box-shadow:0px 0px 0px !important;
	border-radius: 4px;
	overflow: hidden;
}
/* Popup */
.board-overlay {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
    visibility: hidden;
    z-index: 9998;
}

.board-overlay.active {
	visibility: visible;
}

.popup {
	background-color: #f8f8f8;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	font-family: 'Montserrat', sans-serif;
	max-width: 980px;
	opacity: 0;
	padding: 20px;
	transform: scale(0.7);
	transition: opacity 0.3s ease,
							transform 0.3s ease;
    width: 100%;
    z-index: 9999;
}

.popup .btn-cerrar-popup {
	display: block;
	color: #bbbbbb;
	line-height: 16px;
	text-align: right;
	transition: color 0.3s ease;
}
.popup .btn-cerrar-popup ion-icon {
    font-size:32px;
}
.popup .btn-cerrar-popup:hover,
.popup .btn-cerrar-popup:focus,
.popup .btn-cerrar-popup:active {
	color: #000000;
}

.popup h3 {
	font: 600 36px 'Montserrat', sans-serif;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.popup h4 {
	font: 300 26px 'Montserrat', sans-serif;
	margin-bottom: 40px;
}

.popup form .contenedor-inputs input {
	border: 1px solid #bbbbbb;
	font-size: 18px;
	height: 52px;
	line-height: 52px;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
}

.popup form .btn-submit {
	background-color: #5e7de3;
	border-radius: 3px;
	border-style: none;
	color: #ffffff;
	cursor: pointer;
	font: 300 16px 'Montserrat', sans-serif; 
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	transition: background-color 0.3s ease;
}

.popup form .btn-submit:hover,
.popup form .btn-submit:focus,
.popup form .btn-submit:active {
	background-color: rgba(94, 125, 227, 0.9);
}

/* Animaciones */
.popup.active {
	opacity: 1;
	transform: scale(1);
}

.popup.active h3 {
	animation: entrada-titulo 0.8s 0.5s ease forwards;
	opacity: 0;
	transform: translateY(-25px);
}

.popup.active h4 {
	animation: entrada-subtitulo 0.8s 0.5s ease forwards;
	opacity: 0;
	transform: translateY(25px);
}

.popup.active .contenedor-inputs {
		animation: entrada-inputs 1s 1s ease forwards;
		opacity: 0;
}

@keyframes entrada-titulo {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes entrada-subtitulo {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes entrada-inputs {
	to {
		opacity: 1;
	}
}